body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #000000;
  color: #333;
}

header {
  background-color: #1e20af;
  color: white;
  padding: 1.5rem;
  text-align: center;
}

main {
  padding: 2rem;
}

.noticia {
  background-color: rgb(150, 255, 250);
  border: 1px solid #ccc;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.noticia h2 {
  margin-top: 0;
  color: #1e3a8a;
}

.autor {
  font-style: italic;
  color: #4d4d4d;
  margin-top: 1rem;
  text-align: right;
}

footer {
  background-color: #00e1ff;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}
